<!DOCTYPE html>
<html ng-app='main_module'>
    <head>
        <meta charset="utf-8">
        <title>Puoti Front End</title>
        <link href="/FrontEnd/css/angular-flash.min.css">
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"> 
        <link href="/FrontEnd/css/styles.css" type="text/css" rel="stylesheet">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div ng-view></div>
        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script>
        <script src="/FrontEnd/lib/bootstrap.min.js"></script>         
        <script src="/FrontEnd/lib/angular.min.js"></script>
        <script src="/FrontEnd/lib/angular-route.min.js"></script>        
        <script src="/FrontEnd/lib/angular-resource.min.js"></script> 
        <script src="/FrontEnd/lib/angular.min.js.map"></script>
        <script src="/FrontEnd/lib/angular-route.min.js.map"></script>        
        <script src="/FrontEnd/lib/angular-resource.min.js.map"></script>   
        <script src="/FrontEnd/lib/angular-flash.min.js"></script>
        <script src="/FrontEnd/mainModule.js"></script> 
        <script src="/FrontEnd/controllers/groupController.js"></script> 
        <script src="/FrontEnd/controllers/productController.js"></script> 
        <script src="/FrontEnd/controllers/loginController.js"></script>
        <script src="/FrontEnd/factories/groupFactory.js"></script> 
        <script src="/FrontEnd/factories/loginFactory.js"></script>
        <script src="/FrontEnd/directives/navbar_directive.js"></script>        

    </body>
    
    
</html>