<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Luontaistuotteiden puoti</title>
    </head>
    
    <body id=mainView> 
        <form>
            
            <h3>Luontaistuotteiden puoti</h3>
            
            <table class="table table-bordered" id=mainSelections>
                <thead>
                    <tr>
                        <th>Etusivu</th>
                        <th>Ostokset</th>
                        <th>Maksaminen</th>
                        <th>Käyttöohje</th>
                        <th>Kirjautuminen</th>
                    </tr>
                </thead>

            </table>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class='table_container'>            
                            <p id=header>Tuoteryhmät</p>

                            <table class="table table-hover" id=groups> <!--table-bordered-->
                                <tbody>
                                    <tr ng-repeat='productGroup in groupData' ng-click='rowClicked(productGroup._id)'>
                                        <td>{{productGroup.gName}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                  <!--  <script>
                       var i = 1;
                        if(i==1){
                            console.log("hep 1");
                            } else{
                                console.log("hep");
                            };
                    
                    
                    </script>-->
                  
                    <div class="col-sm-6">
                        <div class='table_container'>            
                            
                            <table class='table table-hover' ng-click = 'rowSelected()'>
                                <thead>
                                    <tr>
                                        <th>Nimi</th>
                                        <th>Hinta</th>
                                        <th>Kuvaus</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr ng-repeat='product in productData'>
                                       <td>{{product.pName}}</td>
                                        <td>{{product.prize}}</td>            
                                        <td>{{product.description}}</td>  
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>                
                </div>
            </div>                
        </form>
    </body>
</html>