<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Luontaistuotteiden puoti</title>
    </head>
    
    <body id=mainView> 
        <form>
            
            <h3>Luontaistuotteiden puoti</h3>
            
            <table class="table table-bordered" id=mainSelections>
                <thead>
                    <tr>
                        <th>Etusivu</th>
                        <th>Ostokset</th>
                        <th>Maksaminen</th>
                        <th>Käyttöohje</th>
                        <th>Kirjautuminen</th>
                    </tr>
                </thead>
            
            </table>
            <p><h4>Tuoteryhmät</h4></p>
            
            <table class="table table-bordered" id=groups>
                <tbody>
                    <tr ng-repeat='productGroup in groupData'>
                        <td>{{productGroup.gName}}</td>
                    </tr>
                </tbody>
            
            </table>
        </form>
    </body>
</html>