<hr id="blueLine">
 <!--<hr id="favourites">-->
<p>
<div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: left">
  <span style="font-size: 18px; background-color: white; padding: 0 10px;">
    OUR FAVOURITES <!--Padding is optional-->
  </span>
</div>
</p>
<!---->
<nav-bar navbar-data='navbarData'></nav-bar>

<div class="container">

    
    
    <div class="row">
        <div class="col-sm-6">
            <div class='table_container'>            
                <p id=header>Tuoteryhmät</p>

                <table class="table table-hover" id=groups> <!--table-bordered-->
                    <tbody>
                        <tr ng-repeat='productGroup in groupData' ng-click='rowClicked(productGroup._id)'>
                            <td>{{productGroup.gName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class='table_container'>            

                <table class='table table-hover' ng-click = 'rowSelected()'>
                    <thead>
                        <tr>
                            <th>Nimi</th>
                            <th>Hinta</th>
                            <th>Kuvaus</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat='product in productByGroupData'>
                           <td>{{product.pName}}</td>
                            <td>{{product.prize}}</td>            
                            <td>{{product.description}}</td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>                
    </div>
</div>                
