<nav-bar navbar-data = 'navbarData'></nav-bar>

<div class='table_container'>
    <!-- tähän linkit muihin näkymiin -->
        
        <div style="background-color:blue;" class="col-sm-6">
           <!--col-md-2-->
    
            <h1>The table of products</h1>

            <p>Search products. Empty search will fetch all products</p>
             <input type="search" class="form-control" value="Search" ng-model='search_term'/><br/>
            <button class="btn btn-default" value="Search" ng-click='search()'>
                <span class="glyphicon glyphicon-search"></span>
                Search
            </button>


            <table class='table table-hover' ng-click = 'rowSelected()'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Prize</th>
                        <th>Count</th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat='product in productData'> 
                    <!-- person muuttuja voi olla mikä vaan, friendData määritelty friendDataController.js komponentissa. Taulukko alkaa 0:sta-->
                        <td>{{product.gName}}</td>
                        <td>{{product.prize}}</td>            
                        <td>{{product.stockCount}}</td>            
                    </tr>
                </tbody>
            </table>
        </div>
           
</div> 

</div>
</div>

